{% extends 'admin/base_admin.html.twig' %}

{% block content %}
    <!-- <h3 class="text-center text-uppercase mb-3 text-primary">CẢM NHẬN VỀ BÀI HÁT</h3> -->
    <div class="row">
        <div class="col-sm">
            <h3 class="text-center text-uppercase fw-bold">Thêm mới tác giả</h3>
            <form action="index.php?controller=author&action=add" method="post" enctype="multipart/form-data">
                <div class="input-group mt-3 mb-3">
                    <span class="input-group-text" id="lblatName">Tên tác giả</span>
                    <input type="text" class="form-control" name="ten_tgia">
                </div>

                <div class="form-group mt-3 mb-3">
                    <label>Hình tác giả</label>
                    <input type="file" class="form-control" name="hinh_tgia" >
                </div>

                <div class="form-group  float-end ">
                    <input type="submit" value="submit" name="submit" class="btn btn-success">
                    <a href="index.php?controller=author&action=list" class="btn btn-warning ">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}