{% extends 'base.twig' %}

{% block content %}
  <h1>List of Users</h1>
  <ul>
    {% for user in users %}
      <li><a href="{{ url('user.show', {'id': user.id}) }}">{{ user.name }}</a></li>
    {% endfor %}
  </ul>
  <p><a href="{{ url('user.create') }}">Create a New User</a></p>
{% endblock %}
